.button1{
    height: 100px;
    width: 300px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: black;
    text-align:center;
    margin-left: 25%;
    position: relative;
    font-weight: bold;
    transition-delay: 5s;
    transition-duration: 5s;
    margin-top: 18%;
    background-color: rgb(89, 88, 88);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);

}
.input type1{
    background-color: aqua;
}
.button2{
    height: 50px;
    width: 300px;
    color: rgb(104, 45, 45);
    text-align: center;
    font-size: large;
    z-index: 1;
   background-image: url(wave3.webp);
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    margin-top: 402px;
    margin-left: 400px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.22);
     /* display: none;    */
}
h3{
     position: absolute;
     align-items: center;
     margin-left: 108px; 
     margin-top: 140px;
     font-size: medium;
     bottom: 14%;
    font-family:Arial, Helvetica, sans-serif;
}
h4{
    position: absolute;
    align-items: center;
    margin-left: 80px; 
    margin-top: 20px;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
}